#slide-07 .capture img { transform-origin: right top; }
#slide-07 .weather-focus { left: 323px; top: 49px; width: 307px; height: 180px; }
#slide-07 .weather-focus.weather-blocks { left: 343px; top: 31px; width: 896px; height: 176px; }
#slide-07 .demo-note { font-size: 21px; }
